#navbar{
    display: flex;
    background-color: rgb(241, 239, 246);
    gap: 20px;
    padding: 0 40px;
    border: 1px solid;
    
}
input{
    width: 30%;
    height: 25px;
    margin-top: 15px;
   border-radius: 3px;
}
.logo{
    height: 35px;
    width: 50px;
    margin: 15px;
    border-radius: 50%;
}
.logo1{
    height: 45px;
    width: 150px;
    margin: 15px;
    border-radius: 50%;
}
#cont{
    border-radius: 15px;
    width: 660px;
    /* border: 2px solid red; */
    margin: auto;
    height: 550px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
#cont img{
    width: 400px;
     border: 2px solid red; 
    border-radius: 15px;
    margin-left: 20%;
    margin-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }  
h2, p{
   text-align: center;
 color: black;
}
.home_img{
    border: 1px solid;
    width: 500px;
    height: 600px;
}